*.acn
*.aux
*.bbl
*.bcf
*.blg
*.glo
*.ist
*.log
*.out
# *.pdf
*.run.xml
*.synctex.gz
*.synctex(busy)
*.toc
*.lof
*.lot
*.nlo
*.tdo

*.json
*.csv
*.log
*.pt
*.pkl

.DS_Store

*thesis*
*feedback*

bibliography/references_automated_selected.bib
bibliography/references_automated.bib
chapters/paper_review/refs.bib
