accelerate
bitsandbytes
datasets
evaluate
gpustat
ipykernel
ipython
jiwer
jupyter
librosa
matplotlib
numba
numpy
optimum
pandas
rich
ruff
scikit-learn
scipy
seaborn
soundfile
torch
torchaudio
transformers